.header{
    width: 80%;
    border-bottom: 1px solid #dbdbdb;
    padding: 0 50px;
}
.header .header-container:nth-child(2){
    width: 30%;
}
.header-search{
    background-image: url('../../images/search.svg');
    background-repeat: no-repeat;
    background-position: 32%;
    border: 1px solid #bdbdbd;;
    width: 100%;

    padding: 6px;
}
.header-search::placeholder{
    text-align: center;
    color: #bdbdbd;
}
.header-search:focus{
    background-image: none;
}
.header-container a{
    cursor: pointer;
}